<div class="banner__slide" {{ block.shopify_attributes }}>
  {% if block.settings.image %}
    <picture>
      {% if block.settings.mobile_image %}
        <source
          media="(max-width: 767px)"
          srcset="{{ block.settings.mobile_image | image_url: width: 900 }}"
        >
      {% endif %}

      {{
        block.settings.image
        | image_url: width: 2500
        | image_tag: alt: block.settings.heading, loading: 'lazy', class: 'banner__image'
      }}
    </picture>
  {% endif %}

  <div class="banner__content">
    <div class="banner__text">
      {% if block.settings.heading != blank %}
        <h1 class="banner__heading">
          {{ block.settings.heading }}
        </h1>
      {% endif %}

      {% if block.settings.subheading != blank %}
        <p class="banner__subheading">
          {{ block.settings.subheading }}
        </p>
      {% endif %}
    </div>

    {% if block.settings.button_label != blank %}
      <div class="banner__button-wrap">
        <a href="{{ block.settings.button_link }}" class="banner__button">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            id="Layer_1"
            enable-background="new 0 0 28 28"
            height="512"
            viewBox="0 0 28 28"
            width="512"
          >
            <switch>
              <g><g fill="rgb(0,0,0)">
                <path d="m18 9c-.55 0-1-.45-1-1v-1c0-1.66-1.34-3-3-3s-3 1.34-3 3v1c0 .55-.45 1-1 1s-1-.45-1-1v-1c0-2.76 2.24-5 5-5s5 2.24 5 5v1c0 .55-.45 1-1 1z"/> <path d="m14 17c-2.76 0-5-2.24-5-5 0-.55.45-1 1-1s1 .45 1 1c0 1.66 1.34 3 3 3s3-1.34 3-3c0-.55.45-1 1-1s1 .45 1 1c0 2.76-2.24 5-5 5z"/>
                <path d="m19 26h-10c-3.31 0-6-2.69-6-6l1.01-10.1c.04-1.62 1.37-2.91 2.99-2.9h14c1.66 0 3 1.34 3 3l1 9.9c.04 3.33-2.62 6.06-5.94 6.1-.02 0-.04 0-.06 0zm-12-17c-.55 0-1 .45-1 1l-1 10.1c.05 2.17 1.83 3.91 4 3.9h10c2.21 0 4-1.79 4-4l-1-9.9c.04-.57-.4-1.06-.97-1.1 0 0-.01 0-.03 0z"/>
              </g> </g> F</switch>
          </svg>
          {{ block.settings.button_label }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
