<div
  class="product-faq"
  style="--faq-container-width: {{ section.settings.container_width }}rem;"
>
  <div class="product-faq__container">
    {% for block in section.blocks %}
      <div class="product-faq__item" {{ block.shopify_attributes }}>
        <div class="product-faq__question">
          <div class="product-faq__question-content">
            {% if block.settings.icon %}
              {{ block.settings.icon | image_url: width: 40 | image_tag: class: 'product-faq__icon' }}
            {% endif %}

            <span class="product-faq__question-text">
              {{ block.settings.question }}
            </span>
          </div>

          <span class="product-faq__toggle">
            <svg class="icon icon-caret" viewBox="0 0 10 6">
              <path fill="currentColor" d="M9.354.646a.5.5 0 0 0-.708 0L5 4.293 1.354.646a.5.5 0 0 0-.708.708l4 4a.5.5 0 0 0 .708 0l4-4a.5.5 0 0 0 0-.708">
              </path>
            </svg>
          </span>
        </div>

        <div class="product-faq__answer">
          {{ block.settings.answer }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .product-faq__container {
    max-width: 92%;
    margin: 0 auto 1rem;
  }

  .product-faq__item {
    width: 100%;
  }

  .product-faq__question {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
  }

  .product-faq__question-content {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    padding: 0.75rem 0;
    cursor: pointer;
  }

  .product-faq__question-content img {
    height: 1.25rem !important;
    width: 1.875rem !important;
  }

  .product-faq__question-text {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  .product-faq__toggle {
    display: flex;
    align-items: center;
  }

  .product-faq__toggle svg {
    height: 0.75rem !important;
    width: 0.75rem !important;
  }

  .product-faq__answer {
    display: none;
    color: #121212bf;
    padding: 1rem 0;
  }

  .product-faq__item.active .product-faq__answer {
    display: block;
  }

  .product-faq__toggle svg {
    transition: transform 0.3s ease;
  }

  .product-faq__item.active .product-faq__toggle svg {
    transform: rotate(180deg);
  }

  @media screen and (min-width: 992px) {
    .product-faq__container {
      max-width: var(--faq-container-width);
      margin: 0 auto 3rem;
    }
  }
</style>

<script>
  document.addEventListener('click', function (event) {
    const question = event.target.closest('.product-faq__question');

    if (!question) return;

    const currentItem = question.closest('.product-faq__item');
    const faqContainer = question.closest('.product-faq__container');

    const isActive = currentItem.classList.contains('active');

    faqContainer.querySelectorAll('.product-faq__item').forEach((item) => {
      item.classList.remove('active');
    });

    if (!isActive) {
      currentItem.classList.add('active');
    }
  });
</script>

{% schema %}
{
  "name": "Product FAQ",
  "settings": [
    {
      "type": "range",
      "id": "container_width",
      "label": "Container Width (rem)",
      "min": 40,
      "max": 120,
      "step": 2,
      "default": 80
    }
  ],
  "blocks": [
    {
      "type": "faq_item",
      "name": "FAQ Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "FAQ Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Product FAQ",
      "blocks": [
        {
          "type": "faq_item"
        },
        {
          "type": "faq_item"
        }
      ]
    }
  ]
}
{% endschema %}
